body {
    font-family: cursive;
}

/* HEADER */
header {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

}

header img {
    margin-bottom: 3pc;
    width: 115px;
    height: 110px;
}

header section {
    width: 85%;
}

.elements-inline-block-header section,img{
    display: inline-block;
}


/* MAIN/SECTIONS */
.add-margin {
    margin-top: 1.5pc;
    margin-bottom: 1.5pc;
}

.icon-style {
    width: 45px;
    height: 30px;
}

.styling-paragraph{
    margin: 0px;
    width: 95%;
}

.elements-inline-block img,h1{
    display: inline-block;
}

/*SECTION EDUCATION */ 
.elements-inline-block-education div,div {
    display: inline-block;
}

section div, div{
    display: block;
}


.fontweigth-color{
    font-weight: bold;
    color: rgb(150, 48, 165);
}

/* HEADER, MAIN, FOOTER */
.black-border {
    border: 1px black solid;
}

.add-paddingleft {
    padding-left: 20px;
}


/* FOOTER */

footer {
    background-color: rgb(110, 197, 178);
    text-align: center;
    padding: 10px;
    display: block;
}

#iconsfooter-position {
    display: inline;
}

#footer-text {
    font-weight: 20;
    margin: 5px;
}

footer a {
    text-decoration: none;
}

a {
    color: rgb(38, 201, 171);
} 

a:visited {
    color: rgb(21, 109, 88);
  } 
