body {
    font-family: cursive;
    width: 80%; /*fixxxxxx*************************************************/
    height: 100%;
}

/* HEADER */
header {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

}

.add-marR {
    margin-right: 30pc; /*fixxxxxx*****************************************/
}

.imgstyle img {
    width: 135px;
    height: 160px;
    border-radius: 15%;
}


/* PARA COLOCAR LAS COSAS UNA AL LADO DE OTRA */

.elements-inline-block div,div{
    display: inline-block;
} 

.add-paddingright {
    padding-right: 2pc;
}

/* MAIN-SECTIONS */

.add-margin {
    margin-bottom: 1.5pc;
}

.icon-style {
    width: 45px;
    height: 30px;
}

.styling-paragraph {
    margin: 0px;
    width: 95%;
}

.fontweigth-color li:first-child, .fontweigth-color li:last-child {
    font-weight: bold;
    color: rgb(21, 109, 88);
}

.stylelist {
    list-style: none;
}

section div, div{
    display: block;
}


/* HEADER, MAIN, FOOTER */

.black-border {
    border: 3px black solid;
}

.add-paddingleft {
    padding-left: 20px;
}


/* FOOTER */

footer {
    background-color: rgb(110, 197, 178);
    display: block;
    padding-left: 30pc; /*fixxxxxx*****************************************/
}

#footericons-style {
    display: inline;
    padding: 6pc;
}

#footericons-style a {
    text-decoration: none;
}

#footer-text {
    font-weight: 20;
    margin: 5px;
}

/* PARA LINKS */
a {
    color: rgb(21, 109, 88);
}
